@reference "../../index.css";

.param .disabled {
    color: var(--disabled-color);
    cursor: not-allowed;
}

@media screen and (max-width: 768px) {
    .param {
        text-align: center;
    }
}
