body {
    font-family: "Rubik", sans-serif;
    background-color: #fff;
    color: black;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center; /* This line will vertically center the children */
    justify-content: center; /* This line will horizontally center the children */
    height: 100vh; /* This ensures the container takes up the full viewport height */
}

.container p img {
    text-align: center;
}

.md-show {
    display: block !important;
}
.sm-show {
    display: none !important;
}

.sidebar ul > li::before {
    content: "> ";
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .md-show {
        display: none !important;
    }
    .sm-show {
        display: block !important;
    }

    .sidebar {
        text-align: center;
    }

    .sidebar ul > li::before {
        content: "";
    }
}

.sidebar {
    flex: 1;
    align-items: center;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li,
.sidebar ul li a {
    color: black;
    padding: 0px;
    margin-bottom: 20px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.sidebar ul li a:hover {
    font-weight: bold;
    cursor: pointer;
}

.sidebar ul li.active {
    font-weight: bold;
}

.content {
    flex: 7;
    padding: 20px;
}

.controls,
.advanced {
    margin-bottom: 20px;
}

.control-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.buttons button {
    background-color: #eee;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.wallet {
    font-weight: normal;
    /* padding: 5px; */
    margin-bottom: 20px;
}

.connect {
    color: black;
    text-decoration: underline;
    text-transform: uppercase;
}
.connect button,
.connect button * {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0 !important;
    background: none !important;
    text-align: left !important;
    text-transform: uppercase !important;
    box-shadow: none !important;
    color: black !important;
    text-decoration: underline !important;
    font-size: 16px;
}

.connect:hover {
    cursor: pointer;
    font-weight: bold;
}

/* Global button styles */

a,
button {
    color: #000;
    background: none;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
}

a:hover,
button:hover {
    color: #000;
    text-decoration: underline;
}

button:disabled {
    color: #aaa;
    cursor: not-allowed;
    /* text-decoration: underline !important; */
}
