:root {
    --cell-size: 60px;
}

.commander select, .commander option {
    border: none;
    background: var(--background-color);
    color: var(--text-color);
}

.selected {
    box-shadow: 0 0 0 2px #0078d4;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
}

.game-grid div {
    /* background-color: #f0f0f0; */
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    text-align: center;
    /* line-height: var(--cell-size); */
}

.cell:hover {
    background-color: rgba(185, 185, 185, 0.5);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    padding: 0;
}

.unit-sniper {
    background-image: url(/images/unit-sniper.png);
    background-size: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.unit-heavy {
    background-image: url(/images/unit-heavy.png);
    background-size: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.unit-soldier {
    background-image: url(/images/unit-soldier.png);
    background-size: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.unit-barricade {
    background-image: url(/images/unit-barricade.png);
    background-size: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.selected-action {
    text-decoration: underline;
}
