:root {
    --cell-size: 60px;
    --border-width: 1px;

    --selected-color: #b9b9b98e;
    --highlight-color: rgba(97, 69, 69, 0.5);
    --highlight-unit-color: #f0f0f0;
    --highlight-target-color: #69303040;
}

#three {
    min-width: 1024px;
    min-height: 768px;
}

.commander select,
.commander option {
    border: none;
    background: var(--background-color);
    color: var(--text-color);
}

.selected {
    background-color: var(--selected-color) !important;
    /* box-shadow: 0 0 0 2px #a24444; */
}

.game-grid {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.game-grid .cell {
    border: 0;
    /* border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0; */
    text-align: center;
}

.cell {
    position: relative;
}

.cell::before {
    content: "";
    position: absolute;
    width: var(--cell-size);
    height: var(--cell-size);
    /* background-position: 0 0; */
    top: 0;
    left: 0;
    z-index: -1;
    background-size: var(--cell-size);
    transform: rotate(90deg);
}

.grass .cell::before {
    background: url(/images/texture-grass.png);
    background-size: var(--cell-size);
}

.sand .cell::before {
    background: url(/images/texture-sand.png);
    background-size: var(--cell-size);
}

.row:nth-child(2n).cell:nth-child(1n)::before {
    transform: rotate(0deg);
}

.row:nth-child(3n).cell:nth-child(1n)::before {
    transform: rotate(0deg);
}

.cell:nth-child(2n).cell:nth-child(1n)::before {
    transform: rotate(180deg);
}

.cell.highlight:hover {
    background-color: rgba(185, 185, 185, 0.5);
}

.cell.highlight {
    background-color: var(--highlight-color);
}

.cell:hover {
    background-color: rgba(79, 76, 76, 0.5);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    padding: 0;
}

.cell.cell-unit.highlight:hover {
    background-color: var(--highlight-target-color) !important;
    box-shadow: 0 0 0 2px #d63333b2;
}

.cell-unit {
    background-repeat: no-repeat;
    background-size: var(--cell-size);
    text-indent: var(--cell-size);
    white-space: nowrap;
    overflow: hidden;
}

.selected-action {
    text-decoration: underline;
}

/* Units */

.unit-sniper {
    background-image: url(/images/unit-sniper.png);
}

.unit-heavy {
    background-image: url(/images/unit-heavy.png);
}

.unit-soldier {
    background-image: url(/images/unit-soldier.png);
}

.unit-barricade {
    background-image: url(/images/unit-barricade.png);
}

.unit-scarecrow {
    background-image: url(/images/unit-scarecrow.png);
}

.unit-crate {
    background-image: url(/images/unit-crate.png);
}

/* AP Bar */

.ap-bar {
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: flex;
    /* position: relative; */
    /* flex-direction: row; */
    justify-content: center;
    /* align-items: center; */
    /* margin-top: 10px; */
}

.ap-bar .ap-pt {
    display: inline-block;
    margin-right: 2px;
    width: 4px;
    height: 4px;
    /* border-radius: 50%; */
    background-color: red;
    /* margin: 0 5px; */
}
