name: Run tests for Move packages

on:
  pull_request:

jobs:
  download-binary:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Download Sui
        uses: jaxxstorm/action-install-gh-release@v1.12.0
        with:
          repo: MystenLabs/sui
          platform: ubuntu
          version: testnet
          cache: enable
      # Run the tests in every directory using the latest mainnet binary
      - run: 'sui move test --path packages/character'
      - run: 'sui move test --path packages/go-game'
      # - run: 'sui move test --path packages/rock-paper-scissors'
